<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>PopulaReddit</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="http://controversit.xyz">PopulaReddit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
    </nav>

    <br><br><br><br>
    
    <div class="container">
      <div class="starter-template">
        <h1>PopulaReddit</h1>
        <p>A tool to predict popular content on Reddit</p>
      </div>
	
      <div class = "container">	
	
	<form  action="/output" method="GET">

	  <div class="form-group">
            <h3>Input</h3>
	  </div>
	  
	  <div class="form-group">
            <h5>Chosen subreddit: </h5>
            <p>{{subr_name}}</p>
	  </div>

	  <div class="form-group">
            <h5>Your submission:</h5>
            <p>{{subm_text}}<p>
	  </div>

	  <!--<div class="starter-template">
	    <div>
	      <font color={{message_color}}><h3>{{message}}</h3></font>
	    </div>
	  </div>-->

	  <br><br><br><br><br><br><br>
	  
	  <div class="starter-template">
            <h3>Results</h3>
	    <br>
	    <!--<h4>PopulaReddit predicts with {{score_pop}} confidence that...<h4>-->
	    <font color={{pop_color}}><h4>Your post is going to be {{pop_mess}}!<h4></font>
	    <br><br>
            <h3>Other subreddits where your post might be popular</h3>
            <br>
            <table class="table table-hover">
              {% for i in range(0,alt_subr_count) %}
              <tr><td>{{ alt_subr[i] }}</td></tr>
              {% endfor %}
            </table>
          </div>

          <br><br><br><br><br><br><br>
	  
          <div class="starter-template">
	    <h3>Summary statistics for {{subr_name}}</h3>
	    <br>
	    <h4>{{pop_fraction}}% of the posts on {{subr_name}} are popular.<h4>
		<br><br>
		<div style="display: flex; justify-content: center;">
		  <img src="../static/images/popularity_hist.png" />
		</div>
	  </div>

	  <br><br><br><br><br><br><br>
	  
	  <div class="starter-template">
	    <h3>Most Popular Topics and Words on {{subr_name}}</h3>
	    <h4>The most popular posts include words in the combinations shown below.</h4>
            <br> 
	    <table class="table table-hover">
	      <tr><th>Topic 1 </th><th>Topic 2 </th><th>Topic 3 </th><th>Topic 4 </th><th>Topic 5 </th></tr>
	      {% for i in range(0,num_top_words) %}
	      <tr><td>{{ topics['Topic 01'][i] }}</td><td>{{ topics['Topic 02'][i] }}</td><td> {{ topics['Topic 03'][i] }}</td><td>{{ topics['Topic 04'][i] }}</td><td>{{ topics['Topic 05'][i] }}</td></tr>
	      {% endfor %}
	    </table>
	  </div>
	    
          <br><br><br><br><br><br>

          <div class="starter-template">
            <div>
              <a class="btn btn-success btn-lg" href="http://controversit.xyz/input" role="button">Check another submission</a>
            </div>
          </div>
	  
	</form>
      </div>
      
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>

    </div> <!-- /.container-->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="static/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
