<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PopulaReddit">
    <meta name="author" content="Davide Martizzi">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>PopulaReddit</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="http://populareddit.xyz">PopulaReddit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
    </nav>
    
    <br><br>
    
    <div class="container">
      
      <div class="starter-template">
        <h1>PopulaReddit</h1>
        <p>A tool to predict popular content on Reddit</p>
      </div>

      <div class = "container">
	
	<form  action="/output" method="GET">
	  
	  <div class="form-group">
	    <label for="subr_name">Choose a Subreddit:</label>
	    <select class="form-control" id="subr_name" name="subr_name">
              <!--<option>r/advice</option>-->
              <option>r/changemyview</option>
              <option>r/compsci</option>
              <!--<option>r/confession</option>-->
              <option>r/history</option>
              <option>r/parenting</option>
              <option>r/politicaldiscussion</option>
              <!--<option>r/quotes</option>-->
	    </select>
	    
	    <br>
            <!--<textarea type="text" rows="1" cols="30" id="subr_name" name='subr_name' placeholder="e.g. r/politicaldiscussion"></textarea>-->
          </div>
	  
          <div class="form-group">
            <label for="subm_text">What do you want to submit?</label>
	    <br>
            <textarea type="text" rows="8" cols="132" id="subm_text" name='subm_text' placeholder="Your post..."></textarea>
	    <input type="button" value="Pre-fill" onclick="add()"/>
	    <!--The above will call the function that'll add a string to the textarea's value-->
	    <script>
	      function add() {
	      //We first get the current value of the textarea
	      var x = document.getElementById("subm_text").value;
	      //Then we concatenate a pre-set string y onto it
	      var y = "CMV: Companies patenting simple things like a notification light is not beneficial to the spirit behind the patent system.\n\nA famous company recently patenting using the phone logo as a notification light should not be approved. As I understand it, the patent system is to protect an inventor from others taking their work and selling it without having to do the hard development work. Something as simple as the idea of using the logo as a notification is too generic and didn’t require enough development to justify a patent. Anything unique about it (new leds, new translucent aluminum, new quantum power supply) should be patented, but not just the usage as notification logo."
	      document.getElementById("subm_text").value = x+y;
	      }
	    </script>
          </div>	
	  
          <div>
            <button type="submit" class="btn btn-danger btn-lg">Will it be popular?</button>
          </div>
	  
          <br><br><br><br><br><br>
	  
	</form>
      </div>

      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
      
    </div> <!-- /.container-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
